@import '../../../base';

div {
  max-width: $mediumWidth;
  margin: 5em auto;
  display: flex;

  & section:first-child {
    margin: .2em 0;
    padding: 1em;
    font-weight: 200;
    font-size: 2em;
    background: white;
    color: black;
    clip-path: polygon(100% 50%, 80% 100%, 0 100%, 0 0, 80% 0);
  }

  & section:nth-child(2) {
    align-self: center;

    & p {
      display: flex;
      align-items: center;
      font-size: 1.5em;

      & img {
        height: 1.5em;
        width: 1.5em;
        padding-right: .5em;
      }
    }
  }

  & section {
    flex: 1;
    padding: 2em;
  }
}

@media (max-width: $smallWidth) {
  div {
    display: block;
    text-align: center;

    & section:first-child {
      clip-path: polygon(100% 80%, 50% 100%, 0 80%, 0 0, 100% 0);
    }
  }
}
