<div>
  <section>
    <h1>Napisz</h1>
    <p>A odezwę się najszybciej jak to możliwe</p>
  </section>
  <section>
    <p>
      <img src="assets/icons/facebook.svg" alt="Email icon">
      <a href="https://facebook.com/pphilipppp">
        facebook.com/pphilipppp
      </a>
    </p>
    <p>
      <img src="assets/icons/email.svg" alt="Email icon">
      phipobh@gmail.com
    </p>
    <p>
      <img src="assets/icons/phone.svg" alt="Phone icon">
      +48 781 416 224
    </p>
  </section>
</div>
