:host {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

.image {
  padding: 0 2em;
  flex: 1;
}

.text {
  font-size: 1.5em;
  flex: 1;
}

.text h1,
.text h2,
.text h4 {
  margin: 0;
}

.text h4 {
  color: var(--text30);
  margin-bottom: 1em;
}

span {
  display: flex;
  align-items: center;
  font-size: .75em;
  margin: .5em 0;
}

span img {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  padding-right: .5em;
}

@media (max-width: 600px) {
  :host {
    display: block;
    text-align: center;
  }

  .image {
    margin: 2em 0;
  }

  .image img {
    width: 50%;
    margin: 0 auto;
  }

  span {
    justify-content: center;
  }
}
