@import '../../base';

@function getBannerHeight($fontSize) {
  @return calc(min(#{$fontSize}, 12.5em) * 2 * 1.2 + 3.5em * 2 + 2em);
}

@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

:host {
  display: block;
  height: getBannerHeight(20vw);
}

.banner {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: $largeWidth;
  padding: 3.5em 0;
  overflow: hidden;
}

.banner {
  z-index: 10;

  & .wrapper {
    animation: textAnimation .75s linear;
    transform-origin: center bottom;
  }

  & h1,
  & h2 {
    margin: 0;
    font-size: min(20vw, 12.5em);
    font-weight: normal;
    user-select: none;
    mask: $noise, linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  }

  & h1 {
    background: linear-gradient(to right, $accentFirst 0%, $accentSecond 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & h2 {
    text-align: right;
    background: linear-gradient(to right, $accentSecond 50%, $accentThird 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: $smallWidth) {
  :host {
    height: getBannerHeight(30vw);
  }

  .banner h1,
  .banner h2 {
    text-align: center;
    font-size: 30vw;
  }
}
