div {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em 0;

  font-size: 4em;
  font-family: var(--font-header);

  transition: all ease .5s;
}

p {
  margin: 0;
  font-weight: bold;
}

p:nth-child(2) {
  margin-left: 2.75em;
}

p:nth-child(3) {
  margin-left: 5.25em;
}

p:nth-child(2),
span {
  color: var(--accent);
}

@media (max-width: 700px) {
 p {
   margin: 0 auto !important;
   width: fit-content !important;
 }
}


@media (max-width: 400px) {
  div {
    font-size: 3em;
  }
}
