<section>
  <h1>Hej!</h1>
  <p>
    Jestem Philipp i od 4 lat zajmuję się programowaniem wszystkiego
    &mdash; począwszy od Raspberry Pi aż po strony internetowe.
    Moja pasja do tworzenia zaczęła się kiedy, będąc jeszcze mały,
    natrafiłem na film w którym gość przestrzegał przed darmowymi
    grami i przedstawił prosty programik napisany w Visual Basic'u
    imitujący launcher. Kiedy ofiara wpisała swój login i hasło w
    wymagane pola, zostawały one wysyłane na mail'a oszusta. Ten jeden
    film zafascynował mnie na tyle mocno bym nigdy nie musiał się
    zastanawiać kim chce zostać w przyszłości &mdash; odpowiedź zawsze
    była znana &mdash; programistą.
  </p>
  <p>
    Obecnie programowanie jest dla mnie jak muzyka: możesz tworzyć,
    eksperymentować, remix'ować a finalny produkt znajdzie grupę
    swoich odbiorców. Te dwie rzeczy mają jeszcze jedną,
    moim zdaniem najważniejszą, cechę wspólną &mdash; nie potrafię
    wytrzymać dnia bez nich.
  </p>
</section>

<section>
  <h1>Projekty</h1>
  <p>
    Moim ulubionym językiem jest C++ przez swoją szybkość i
    bardzo rozwinięte meta-programowanie. Głównie pisałem w nim
    biblioteki wstrzykiwane i aplikacje wykorzystujące OpenGL'a.
    Zdecydowanie najwięcej czasu spędziłem w Javie tworząc pluginy
    do gier i aplikacje na Androida (teraz raczej używam Flutter'a
    ze względu na większą szybkość i kompatybilność). Moim drugim
    ulubionym jest python &mdash; oprócz zastosowań webowych
    (Flask, Django) używam go kiedy trzeba na szybko zautomatyzować
    jakieś żmudne zadanie.
  </p>
  <p>
    Moim aktualnym projektem jest aplikacja do komunikacji szeregowej
    z funkcjami rysowania wykresów i analizy danych a w planach mam
    stworzenie nakładki do gier umożliwiającej sterowanie pulpitem
    pod grą (coś jak nakładka Steam'a, ale dla całego systemu).
  </p>
</section>

<section>
  <h1>Umiejętności</h1>
  <p>
    Zdaję sobie sprawę z tego że posługiwanie się danym językiem
    programowania to tylko jedna strona medalu &mdash; natomiast
    druga to sprawne korzystanie z różnego rodzaju narzędzi.
    A oto lista narzędzi którymi posługuję na co dzień:
  </p>
  <ul>
    <li>
      <span>Systemy operacyjne</span>
      <ul>
        <li>Linux (Fedora, Ubuntu, Arch)</li>
        <li>Windows</li>
      </ul>
    </li>
    <li>
      <span>IDE</span>
      <ul>
        <li>JetBrains (WebStorm, CLion, PyCharm, Intellij IDEA)</li>
        <li>Visual Studio 2019 (Community)</li>
        <li>Visual Studio Code</li>
      </ul>
    </li>
    <li>
      <span>Kontrola wersji</span>
      <ul>
        <li>GitHub</li>
        <li>Git</li>
      </ul>
    </li>
    <li>
      <span>Grafika i projektowanie</span>
      <ul>
        <li>Figma</li>
        <li>Inkscape</li>
      </ul>
    </li>
    <li>
      <span>Narzędzia platform/języków</span>
      <ul>
        <li>Java (Maven, Gradle)</li>
        <li>JavaScript (Node.js, Typescript, React, Svelte, Angular)</li>
        <li>CSS (SASS)</li>
        <li>PHP (Laravel)</li>
        <li>Python (Pip, Django)</li>
      </ul>
    </li>
  </ul>
  <p>
    Oczywiście nie znam tych wszystkich narzędzi na 100% ale większością
    potrafię się swobodnie posługiwać bez ciągłego zerkania w dokumentację.
  </p>
</section>

<section>
  <h1>Zainteresowania</h1>
  <p>
    W wolnym czasie grywam w takie tytuły jak Rainbow Six Siege,
    GTA 5, CS:GO i Rocket League, ale pełna lista gier znajduje
    się na moim <a href="https://steamcommunity.com/id/qisthemagicword">profilu steam</a>.
    Oprócz słuchania muzyki oglądam też filmy z moich ulubionych
    gatunków &mdash; akcji i fantasy.
  </p>
</section>

<section>
  <h1>A zatem</h1>
  <p>
    To by było na tyle jeżeli chodzi o mnie. Zapraszam do
    przeglądania moich projektów na <a href="https://github.com/ErnstStavroBlofeld">GitHub'ie</a> i
    <app-link class="simple underline" to="/contact">kontaktowania się</app-link>.
  </p>
  <p>
    Do usłyszenia!
  </p>
</section>
