<app-section>
  <h1>Hej!</h1>
  <p>
    Jestem Philipp i pasjonuje się programowaniem. Od ponad trzech lat tworzę oprogramowanie na wielu patformach -
    począwszy od mikroprocesorów aż po strony internetowe. Moimi ulubionymi językami programowania są Python - ze
    względu na swoją wygodę i C++ przez szybkość. Najwięcej doświadczenie posiadam jednak w Javie do której z czasem
    nabrałem lekkiej degustacji głównie przez Androida.
  </p>
</app-section>

<app-section>
  <h3>Web</h3>
  <p>
    Dziedzina która rozwija się zdecydowanie najszybciej. Mnogość frameworków i narzędzi a w nim mój ulubiony czyli
    Angular. Nie byłem do niego przekonany ale po czasie dostrzegłem jego funkcjonalność której brakowało mi w innych
    frameworkach takich jak React i Vue.
  </p>
</app-section>

<app-section>
  <h3>C++</h3>
  <p>
    Tworzyłem w nim projekty oparte na OpenGL oraz ImGui do komunikacji szeregowej i programy do załączania tekstu
    do obrazów PNG/JPEG. W większości moich projektów wykorzystuję CMake, standardowe biblioteki oraz WinAPI.
  </p>
</app-section>
