<section>
  <h1>Hej!</h1>
  <p>
    Jestem Philipp i od 4 lat zajmuję się programowaniem wszystkiego
    &mdash; począwszy od Raspberry Pi aż po strony internetowe.
    Moja pasja do tworzenia zaczęła się kiedy, będąc jeszcze mały,
    natrafiłem na film w którym chłopak przestrzegał przed darmowymi
    grami i przedstawił prosty programik napisany w Visual Basic'u
    imitujący launcher. Kiedy ofiara wpisała swój login i hasło w
    wymagane pola, zostawały one wysyłane na mail'a oszusta. Ten jeden
    film zafascynował mnie na tyle mocno bym nigdy nie musiał się
    zastanawiać kim chce zostać w przyszłości &mdash; odpowiedź zawsze
    była znana &mdash; programistą.
  </p>
  <p>
    Obecnie programowanie jest dla mnie jak muzyka: możesz tworzyć,
    eksperymentować, remixować a finalny produkt znajdzie grupę
    swoich odbiorców. Te dwie rzeczy mają jeszcze jedną,
    moim zdaniem najważniejszą, cechę wspólną &mdash; nie potrafię
    wytrzymać dnia bez nich.
  </p>
</section>

<section>
  <h1>Umiejętności</h1>
  <p>

  </p>
</section>



<!--<section>-->
<!--  <h1>Hej!</h1>-->
<!--  <p>-->
<!--    Jestem Philipp i programuję w zasadzie wszystko &mdash;-->
<!--    począwszy od mikroprocesorów aż po strony internetowe.-->
<!--    Ostatnio zainteresowałem się również odwróconą inżynierią-->
<!--    (ale słabo to brzmi po polsku) oraz testowaniem penetracyjnym-->
<!--    (to brzmi jeszcze gorzej). Gdyby to wszystko podliczyć to-->
<!--    wyszłoby że już 3 lata tworzę software co jest dobrym wynikiem-->
<!--    zważywszy na to że mam dopiero 18. Niestety, większość-->
<!--    moich projektów, które tworzyłem przez ten okres, nigdy nie-->
<!--    zobaczy światła dziennego tylko przez to że moim ulubionym-->
<!--    narzędziem do czyszczenia dysku jest format.-->
<!--  </p>-->
<!--</section>-->

<!--<section>-->
<!--  <h1>Języki</h1>-->
<!--  <p>-->
<!--    Moim zdecydowanie ulubionym językiem programowania jest C++-->
<!--    a to za sprawą tego że daje praktycznie nielimitowane możliwości.-->
<!--    Poza oczywiście jego szybkością można czynić cuda pre-procesorem-->
<!--    i template'ami. Na drugim miejscu python który jest bardzo wygodny,-->
<!--    prosty i uniwersalny &mdash; bardzo często używam go kiedy trzeba-->
<!--    na szybko zautomatyzować jakieś żmudne zadanie. Najwięcej-->
<!--    doświadczenia posiadam w Javie w której pisałem aplikacje GUI-->
<!--    z wykorzystaniem JavaFX.-->
<!--  </p>-->
<!--</section>-->
