@import '../../../base';

@keyframes bannerExpand {
  0% {
    background-size: 0 100%;
  }

  100% {
    background-size: min(17vw, 3.25em) 100%;
  }
}

@keyframes subtextExpand {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

section {
  max-width: $mediumWidth;
  padding: 3em 0;
  margin: 0 auto;
}

.banner {
  margin: 6em auto 8em auto;

  & div {
    font-size: 2em;
    background: linear-gradient(white, white) no-repeat;
    background-size: min(17vw, 3.25em) 100%;

    animation: bannerExpand 2s ease;

    & h1 {
      margin: 0;
      font-size: min(25vw, 5em);
      font-weight: 200;
      letter-spacing: .1em;
      user-select: none;
      mix-blend-mode: difference;
    }
  }

  & span {
    font-size: 2em;
    display: inline-block;
    width: min(17vw, 3.25em);
    height: 2em;
    background: linear-gradient(white, white) no-repeat;
    clip-path: polygon(50% 100%, 0 0, 100% 0);

    animation: bannerExpand 2s ease;
  }
}

.showcase {
  text-align: right;

  &:nth-child(2n + 1) {
    text-align: left;
  }

  & h1 {
    margin: 0;
    font-weight: normal;
    font-size: 2em;
  }
}

.action {
  padding: 5em 0;
  text-align: center;
  font-size: 1.5em;
}

@media (max-width: $smallWidth) {
  .showcase {
    text-align: center !important;
  }
}
