@import '../../../base';

section {
  max-width: $mediumWidth;
  margin: 0 auto;
  padding: 1em 0;
  text-align: center;
}

section h1 {
  font-weight: 200;
  font-size: 3.5em;
}

.banner {
  max-width: unset;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: $smallWidth) {
  .banner:first-child {
    height: 60vh;
    width: 100%;
  }
}
