<section class="banner">
  <div>
    <h1>Philipp</h1>
    <h1>Baszuk</h1>
  </div>

  <span></span>
</section>

<section class="showcase">
  <h1>Tworzę strony internetowe</h1>
  <p>oraz aplikacje desktopowe</p>
</section>

<section class="showcase">
  <h1>Projektowane od podstaw</h1>
  <p>Z pasją i zaangażowaniem nawet do najmniejszych detali</p>
</section>

<section class="showcase">
  <h1>Wydajność i niezawodność</h1>
  <p>Dzięki użyciu najnowszych technologii i narzędzi</p>
</section>

<section class="showcase">
  <h1>Integracja z usługami</h1>
  <p>Takimi jak Google ADs, DotPay czy Firebase</p>
</section>

<section class="action">
  <h1>Odezwij się pod</h1>
  <h1>phipobh@gmail.com</h1>
  <h1>albo zobacz mnie tutaj</h1>
  <div>
    <a href="https://www.facebook.com/pphilipppp" title="Facebook">
      <img src="assets/icons/facebook.svg" alt="Facebook icon">
      <span>Philipp</span>
    </a>
    <a href="https://github.com/ErnstStavroBlofeld" title="Github">
      <img src="assets/icons/github.svg" alt="Github icon">
      <span>ErnstStavroBlofeld</span>
    </a>
    <div title="Discord">
      <img src="assets/icons/discord.svg" alt="Discord">
      <span>Ernesto#8467</span>
    </div>
  </div>
</section>
