@import '../../../base';

$strikeWidth: min(17vw, 3.25em);

@keyframes bannerExpand {
  0% {
    background-size: $strikeWidth 0;
  }

  100% {
    background-size: $strikeWidth 100%;
  }
}

section {
  max-width: $mediumWidth;
  padding: 3em 1em;
  margin: 0 auto;
}

.banner {
  margin: 6em auto 8em auto;

  & div {
    font-size: 2em;
    background: linear-gradient($invertedBackgroundColor, $invertedBackgroundColor) no-repeat;
    animation: bannerExpand 1s ease-out forwards;

    & h1 {
      margin: 0;
      font-size: min(25vw, 5em);
      font-weight: 200;
      letter-spacing: .1em;
      user-select: none;
      mix-blend-mode: difference;
    }
  }

  & span {
    font-size: 2em;
    display: inline-block;
    width: $strikeWidth;
    height: 2em;
    background: linear-gradient($invertedBackgroundColor, $invertedBackgroundColor) no-repeat;
    clip-path: polygon(50% 100%, 0 0, 100% 0);

    animation: bannerExpand .15s linear 1s both;
  }
}

.showcase {
  text-align: right;

  &:nth-child(2n + 1) {
    text-align: left;
  }

  & h1 {
    margin: 0;
    font-weight: normal;
    font-size: 2em;
  }
}

.action {
  padding: 5em 1em;
  text-align: right;
  font-size: 2em;

  & h1 {
    margin: 0;
    font-weight: 200;
  }

  & div {
    display: flex;
    justify-content: flex-end;

    & a {
      padding: 0 .5em;
      display: block;
      text-align: center;

      & span {
        display: block;
        font-size: .5em;
      }
    }

    & img {
      width: 1.5em;
      height: 1.5em;
      padding: .5em;
    }
  }
}

@media (max-width: $smallWidth) {
  .banner span {
    height: 1em;
    transform: translateY(-.5px);
  }

  .showcase {
    text-align: center !important;
  }

  .action {
    font-size: 1.25em;
    text-align: center;

    & div {
      justify-content: center;
      font-size: 1.2em;
    }
  }
}
