<section class="banner">
  <div>
    <h1>Philipp</h1>
    <h1>Baszuk</h1>
  </div>
</section>

<section class="showcase">
  <h1>Tworzę strony internetowe</h1>
  <p>oraz aplikacje desktopowe</p>
</section>

<section class="showcase">
  <h1>Projektowane od podstaw</h1>
  <p>Z pasją i zaangażowaniem nawet do najmniejszych detali</p>
</section>

<section class="showcase">
  <h1>Wydajność i niezawodność</h1>
  <p>Dzięki użyciu najnowszych technologii i narzędzi</p>
</section>

<section class="action">
  <h1>Potrzebujesz strony?</h1>
  <app-link to="/contact">Napisz do mnie</app-link>
</section>
