<app-banner first="Tworzę" second="Strony" third="Internetowe"></app-banner>

<div class="sections">
  <app-section>
    <h2>Projektowane od podstaw</h2>
    <p>Dostosowane do Twoich potrzeb, wykonane według Twojego pomysłu dzięki czemu masz całkowitą kontrolę nad tym jak i co znajdzie się na witrynie</p>
  </app-section>

  <app-section>
    <h2>Wydajność i niezawodność</h2>
    <p>Zapewniane przez automatyczne testy jednostkowe oraz dokładne sprawdzanie aplikacji przed wdrożeniem</p>
  </app-section>

  <app-section>
    <h2>Tylko najnowsze technologie</h2>
    <p>Dzięki czemu masz pewność że twoja strona pozostanie bezpieczna i sprawna na długo</p>
  </app-section>

  <app-section>
    <h2>Integracja z popularnymi narzędziami</h2>
    <p>Płatności, reklamy i inne usługi firm pośrednich takie jak Google ADs, reCaptcha, Firebase czy DotPay</p>
  </app-section>
</div>
