@import '../../../base';

@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shapeTextAnimation {
  0%, 100% {
    opacity: 0;
  }
}

@keyframes shapeAnimation {
  0% {
    transform: scale(.1) rotate(-80deg);
  }

  50% {
    transform: scale(1) rotate(-80deg);
  }

  100% {
    transform: rotate(-40deg);
  }
}

:host {
  display: block;
}

.banner,
.shapes {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: $largeWidth;
  padding: 3.5em 0;
  overflow: hidden;
}

.banner {
  z-index: 10;

  & .wrapper {
    animation: textAnimation .75s linear;
    transform-origin: center bottom;
  }

  & h1,
  & h2 {
    margin: 0;
    font-size: min(20vw, 12.5em);
    font-weight: normal;
    user-select: none;
    mask: $noise, linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  }

  & h1 {
    background: linear-gradient(to right, $accentFirst 0%, $accentSecond 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & h2 {
    text-align: right;
    background: linear-gradient(to right, $accentSecond 50%, $accentThird 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.shapes {
  z-index: 5;
  animation: shapeTextAnimation 1s;

  div {
    position: relative;
    width: min(30vw, 20em);
    height: min(30vw, 20em);
    background: linear-gradient(to bottom, lighten($backgroundColor, 15%), transparent);
    mask: $noise;
    transform: rotate(-40deg);
    animation: shapeAnimation .75s ease 1s;
  }

  .circle {
    margin-left: 2%;
    clip-path: circle(50%);
  }

  .square {
    border-radius: 2em;
    margin-top: -15%;
    margin-left: 40%;
  }

  .triangle {
    margin-top: -20%;
    margin-left: 75%;
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  }
}

@media (max-width: $smallWidth) {
  .banner h1,
  .banner h2 {
    text-align: center;
    font-size: 30vw;
  }

  .shapes div {
    width: 40vw;
    height: 40vw;
  }

  .square {
    margin-top: -15% !important;
    margin-left: 60% !important;
  }

  .triangle {
    margin-top: -25% !important;
    margin-left: 10% !important;
  }
}
