$backgroundColor: #000;
$textColor: #ffffff;

$accentFirst: #700054;
$accentSecond: #9e0064;
$accentThird: #ee330e;

$smallWidth: 600px;
$mediumWidth: 1000px;
$largeWidth: 1300px;

$noise: url('/assets/dither.png');
