@import 'base';

@font-face {
  font-family: 'Prodigy Sans';
  font-weight: 300;
  src: url('assets/font/prodigy-sans-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Prodigy Sans';
  font-weight: 400;
  src: url('assets/font/prodigy-sans-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Prodigy Sans';
  font-weight: 500;
  src: url('assets/font/prodigy-sans-medium.woff2') format('woff2');
}


body {
  margin: 0;
  padding: 0;

  font-family: 'Prodigy Sans', sans-serif;
  font-size: 18px;

  color: $textColor;
  background-color: $backgroundColor;
}

img, svg {
  width: 100%;
}
