@import 'base';

@font-face {
  font-family: 'Prodigy Sans';
  font-weight: 300;
  src: url('assets/font/prodigy-sans-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Prodigy Sans';
  font-weight: 400;
  src: url('assets/font/prodigy-sans-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Prodigy Sans';
  font-weight: 500;
  src: url('assets/font/prodigy-sans-medium.woff2') format('woff2');
}


body {
  margin: 0;
  padding: 0;

  font-family: 'Prodigy Sans', sans-serif;
  font-size: 18px;

  color: $textColor;
  background-color: $backgroundColor;

  scroll-behavior: smooth;
}

img, svg {
  width: 100%;
}

a {
  color: $textColor;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $backgroundColor;
}

::-webkit-scrollbar-thumb {
  background: lighten($backgroundColor, 5%);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: lighten($backgroundColor, 10%);
}
