@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto:wght@500;700&display=swap');

:root {
  --font-text: 'Roboto', sans-serif;
  --font-header: 'Alata', sans-serif;

  --background10: #0E0E0E;
  --background20: #181818;
  --background30: #292929;

  --text10: #fff;
  --text20: #c8c8c8;
  --text30: #838383;
  --text40: #404040;

  --accent: #04ff75;
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--font-text);
  font-smooth: subpixel-antialiased;
  font-size: 16px;
  font-weight: 500;

  color: var(--text10);
  background-color: var(--background10);
}

img {
  width: 100%;
}
